



<h2>Billing Details</h2> 

<hr/>
<div *ngIf="billing">
  <div>
    <label><b>Customerid: </b></label> {{billing.customerid}}
  </div>
  <div>
    <label><b>Type: </b></label> {{billing.type}}
  </div>
  <div>
    <label><b>Description: </b></label> {{billing.description}}
  </div> 
  <div>
    <label><b>Number: </b></label> {{billing.number}}
  </div> 
  
  <div>
    <label><b>Receipt: </b></label> {{billing.receipt}}
  </div> 
  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Billing List</button><br>