<h3>Create Billing</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Customerid</label>
      <input type="text" class="form-control" id="customerid" required [(ngModel)]="billing.customerid" name="customerid">
    </div>

    <div class="form-group">
      <label for="name">Type</label>
      <input type="text" class="form-control" id="type" required [(ngModel)]="billing.type" name="type">
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="billing.description" name="description">
    </div>
    <div class="form-group">
        <label for="name">Number</label>
        <input type="text" class="form-control" id="number" required [(ngModel)]="billing.number" name="number">
      </div>
      <div class="form-group">
        <label for="name">Receipt</label>
        <input type="text" class="form-control" id="receipt" required [(ngModel)]="billing.receipt" name="receipt">
      </div>
    


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newBilling()">Add</button> -->
</div>

