


<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Address List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Housename</th>
            <th>Houseaddress</th>
            <th>District</th>
            <th>City</th>
            <th>Housestate</th>
            <th>Zip</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let address of addresss | async">
            <td>{{address.housename}}</td>
            <td>{{address.houseaddress}}</td>
            <td>{{address.district}}</td>
            <td>{{address.city}}</td>
            <td>{{address.housestate}}</td>
            <td>{{address.zip}}</td>
            <td><button (click)="deleteAddress(address.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateAddress(address.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="addressDetails(address.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  