


<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Billing List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Customerid</th>
            <th>Type</th>
            <th>Description</th>
            <th>Number</th>
            <th>Receipt</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let billing of billings | async">
            <td>{{billing.customerid}}</td>
            <td>{{billing.type}}</td>
            <td>{{billing.description}}</td>
            <td>{{billing.number}}</td>
            <td>{{billing.receipt}}</td>
            <td><button (click)="deleteBilling(billing.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateBilling(billing.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="billingDetails(billing.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  